<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>홈개통AS CRM</title>
<meta name="description" content="This is a sample HTML document." />
<meta name="keywords" content="홈개통AS CRM" />
<meta http-equiv="Cache-Control" content="public, max-age=2592000" />

<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" /> -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
<!-- <link rel="icon" href="data:," /> -->

<link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/plugins/swiper-bundle.min.css" />
<link rel="stylesheet" href="/assets/css/plugins/datatables.min.css" />
<link rel="stylesheet" href="/assets/css/plugins/ckeditor.css" />
<link rel="stylesheet" href="/assets/css/plugins/jstree.min.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
