<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        fetch("/fragments/head.html")
          .then((res) => res.text())
          .then((html) => {
            document.head.insertAdjacentHTML("beforeend", html);
          });
      });
    </script>
  </head>
  <body>
    <div id="root">
      <!-- header include -->
      <header id="header">
        <div data-include-path="/fragments/header.html"></div>
      </header>
      <!-- container -->
      <div id="container">
        <!-- lnb include -->
        <nav id="lnb">
          <div data-include-path="/fragments/lnb.html"></div>
        </nav>
        <!-- contents -->
        <div id="contents">
          <div class="contents__inner">
            <h2>Care 상세 현황</h2>

            <!-- 2025-05 신규 수정/추가 -->
            <section class="row">
              <div class="form-box">
                <table class="form-table">
                  <colgroup>
                    <col style="width: 130px" />
                    <col style="width: auto" />
                    <col style="width: 120px" />
                    <col style="width: auto" />
                    <col style="width: 120px" />
                    <col style="width: auto" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>가입 번호</th>
                      <td colspan="5">
                        <div class="input-form" style="width: 448px">
                          <div class="inner">
                            <input type="text" name="entrNo" placeholder="가입 번호를 입력해 주세요" value="" onkeydown="handleKeyDown(event)" />
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>대리점 구분</th>
                      <td colspan="5">
                        <div class="relative">
                          <div class="inline-flex">
                            <div class="col-auto">
                              <button
                                type="button"
                                class="btn btn-ico btn-div lg"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseDiv"
                                aria-expanded="false"
                                aria-controls="collapseDiv"
                              >
                                대분류
                              </button>
                            </div>
                            <div class="col-auto">
                              <button
                                type="button"
                                class="btn btn-ico btn-div md"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseDiv"
                                aria-expanded="false"
                                aria-controls="collapseDiv"
                              >
                                중분류
                              </button>
                            </div>
                            <div class="col-auto">
                              <button
                                type="button"
                                class="btn btn-ico btn-div sm"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseDiv"
                                aria-expanded="false"
                                aria-controls="collapseDiv"
                              >
                                소분류
                              </button>
                            </div>
                          </div>

                          <!-- 대리점 구분 레이어 -->
                          <div id="collapseDiv" class="collapse layer-datepicker">
                            <div class="inner">
                              <header>
                                <button class="close" data-bs-toggle="collapse" data-bs-target="#collapseDiv" aria-controls="collapseDiv" aria-expanded="true">
                                  닫기
                                </button>
                              </header>
                              <div class="body">
                                <p class="sub">대리점을 선택해 주세요.</p>
                                <div class="d-flex pt-4 gap-4" id="bizbrNm">
                                  <div class="col">
                                    <div class="cord-box lg uiscroll">
                                      <p class="sub-title">대분류</p>
                                      <ul class="list">
                                        <li>
                                          <button type="button" onclick="selectDivision(this, 'lg')" data-value="ALL">대분류 전체</button>
                                        </li>
                                        <li th:each="division : ${bizbrList}" th:if="${division.bizbrLvl == '5'}">
                                          <button
                                            type="button"
                                            th:text="${division.bizbrNm}"
                                            th:data-value="${division.bizbrCd}"
                                            th:onclick="'selectDivision(this, \'lg\')'"
                                          ></button>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="cord-box md uiscroll">
                                      <p class="sub-title">중분류</p>
                                      <ul class="list"></ul>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="cord-box sm uiscroll">
                                      <p class="sub-title">소분류</p>
                                      <ul class="list"></ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <footer>
                                <button type="button" class="btn btn-dark" id="divisionConfirmBtn">확인</button>
                              </footer>
                            </div>
                          </div>
                          <!-- // 대리점 구분 레이어 -->
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>조회 기간</th>
                      <td colspan="5">
                        <div class="datepicker-wrap">
                          <button
                            type="button"
                            class="btn btn-datepicker"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseDate"
                            aria-expanded="false"
                            aria-controls="collapseDate"
                          >
                            <span class="start">2024-06-24</span>~<span class="end">2025-06-23</span>
                          </button>

                          <!-- 달력 레이어 -->
                          <div id="collapseDate" class="collapse layer-datepicker">
                            <div class="inner">
                              <header>
                                <button class="close">닫기</button>
                              </header>
                              <div class="body">
                                <p class="sub">기간을 선택해 주세요</p>
                                <div class="date-select">
                                  <span class="custom-radio" data-range="7">
                                    <input id="_uid_100" name="_uid_1" type="radio" />
                                    <label for="_uid_100" class="button"> 최근 1주일 </label>
                                  </span>
                                  <span class="custom-radio" data-range="30">
                                    <input id="_uid_101" name="_uid_1" type="radio" />
                                    <label for="_uid_101" class="button"> 최근 30일 </label>
                                  </span>
                                  <span class="custom-radio" data-range="90">
                                    <input id="_uid_102" name="_uid_1" type="radio" />
                                    <label for="_uid_102" class="button"> 최근 90일 </label>
                                  </span>
                                  <span class="custom-radio" data-range="365">
                                    <input id="_uid_103" name="_uid_1" type="radio" />
                                    <label for="_uid_103" class="button"> 최근 1년 </label>
                                  </span>
                                  <span class="custom-radio">
                                    <input id="_uid_104" name="_uid_1" type="radio" />
                                    <label for="_uid_104" class="button"> 직접 입력 </label>
                                  </span>
                                </div>
                                <div class="date-box">
                                  <div class="start-date">
                                    <p class="title">시작일 <em>2024-06-24</em></p>
                                    <div class="datetimepicker" id="searchStartPicker"></div>
                                  </div>
                                  <div class="end-date">
                                    <p class="title">종료일 <em>2025-06-23</em></p>
                                    <div class="datetimepicker2" id="searchEndPicker"></div>
                                  </div>
                                </div>
                              </div>
                              <footer>
                                <button type="button" class="btn btn-dark picker">확인</button>
                              </footer>
                            </div>
                          </div>
                          <!-- // 달력 레이어 -->
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>발생 지표</th>
                      <td colspan="5">
                        <select class="w300 uiscroll" aria-label="발생 지표 열기">
                          <option value="">발생 지표를 선택해 주세요</option>
                          <option value="">-</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th>유선 CEM 조회</th>
                      <td id="cemCheck">
                        <span class="custom-radio">
                          <input id="cemAll" name="cemYn" type="radio" value="" checked />
                          <label for="cemAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="cemY" name="cemYn" type="radio" value="Y" />
                          <label for="cemY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="cemN" name="cemYn" type="radio" value="N" />
                          <label for="cemN" class="button">N</label>
                        </span>
                      </td>
                      <th>컨택 등록 여부</th>
                      <td id="contactCheck">
                        <span class="custom-radio">
                          <input id="contactAll" name="contactYn" type="radio" value="" checked />
                          <label for="contactAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="contactY" name="contactYn" type="radio" value="Y" />
                          <label for="contactY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="contactN" name="contactYn" type="radio" value="N" />
                          <label for="contactN" class="button">N</label>
                        </span>
                      </td>
                      <th>결과 등록 여부</th>
                      <td id="resultCheck">
                        <span class="custom-radio">
                          <input id="resultAll" name="resultYn" type="radio" value="" checked />
                          <label for="resultAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="resultY" name="resultYn" type="radio" value="Y" />
                          <label for="resultY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="resultN" name="resultYn" type="radio" value="N" />
                          <label for="resultN" class="button">N</label>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th>미처리 여부</th>
                      <td colspan="5" id="unprocessedCheck">
                        <span class="custom-radio">
                          <input id="unprocessedAll" name="unprocessedYn" type="radio" value="" checked />
                          <label for="unprocessedAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="unprocessedY" name="unprocessedYn" type="radio" value="Y" />
                          <label for="unprocessedY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="unprocessedN" name="unprocessedYn" type="radio" value="N" />
                          <label for="unprocessedN" class="button">N</label>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                  <!-- 토글 되는 영역 -->
                  <tbody id="toggleOptions" style="display: none" aria-hidden="true" aria-labelledby="toggleDetailBtn">
                    <tr>
                      <th>유선 CEM 이상</th>
                      <td id="wiredCemAbnormalCheck">
                        <span class="custom-radio">
                          <input id="wiredCemAbnormalAll" name="wiredCemAbnormalYn" type="radio" value="" checked />
                          <label for="wiredCemAbnormalAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="wiredCemAbnormalY" name="wiredCemAbnormalYn" type="radio" value="Y" />
                          <label for="wiredCemAbnormalY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="wiredCemAbnormalN" name="wiredCemAbnormalYn" type="radio" value="N" />
                          <label for="wiredCemAbnormalN" class="button">N</label>
                        </span>
                      </td>
                      <th>고객 연결</th>
                      <td id="customerConnectCheck">
                        <span class="custom-radio">
                          <input id="customerConnectAll" name="customerConnectYn" type="radio" value="" checked />
                          <label for="customerConnectAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="customerConnectY" name="customerConnectYn" type="radio" value="Y" />
                          <label for="customerConnectY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="customerConnectN" name="customerConnectYn" type="radio" value="N" />
                          <label for="customerConnectN" class="button">N</label>
                        </span>
                      </td>
                      <th>고객 장애 인지</th>
                      <td id="customerFaultAwareCheck">
                        <span class="custom-radio">
                          <input id="customerFaultAwareAll" name="customerFaultAwareYn" type="radio" value="" checked />
                          <label for="customerFaultAwareAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="customerFaultAwareY" name="customerFaultAwareYn" type="radio" value="Y" />
                          <label for="customerFaultAwareY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="customerFaultAwareN" name="customerFaultAwareYn" type="radio" value="N" />
                          <label for="customerFaultAwareN" class="button">N</label>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th>추가 방문 요청</th>
                      <td id="additionalVisitRequestCheck">
                        <span class="custom-radio">
                          <input id="additionalVisitRequestAll" name="additionalVisitRequestYn" type="radio" value="" checked />
                          <label for="additionalVisitRequestAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="additionalVisitRequestY" name="additionalVisitRequestYn" type="radio" value="Y" />
                          <label for="additionalVisitRequestY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="additionalVisitRequestN" name="additionalVisitRequestYn" type="radio" value="N" />
                          <label for="additionalVisitRequestN" class="button">N</label>
                        </span>
                      </td>
                      <th>추가 방문</th>
                      <td id="additionalVisitCheck">
                        <span class="custom-radio">
                          <input id="additionalVisitAll" name="additionalVisitYn" type="radio" value="" checked />
                          <label for="additionalVisitAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="additionalVisitY" name="additionalVisitYn" type="radio" value="Y" />
                          <label for="additionalVisitY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="additionalVisitN" name="additionalVisitYn" type="radio" value="N" />
                          <label for="additionalVisitN" class="button">N</label>
                        </span>
                      </td>
                      <th>장애 증상</th>
                      <td id="faultSymptomCheck">
                        <span class="custom-radio">
                          <input id="faultSymptomAll" name="faultSymptomYn" type="radio" value="" checked />
                          <label for="faultSymptomAll" class="button">전체</label>
                        </span>
                        <span class="custom-radio">
                          <input id="faultSymptomY" name="faultSymptomYn" type="radio" value="Y" />
                          <label for="faultSymptomY" class="button">Y</label>
                        </span>
                        <span class="custom-radio">
                          <input id="faultSymptomN" name="faultSymptomYn" type="radio" value="N" />
                          <label for="faultSymptomN" class="button">N</label>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                  <!-- //토글 되는 영역 -->
                </table>
                <div class="toggle-box-right">
                  <button
                    type="button"
                    id="toggleDetailBtn"
                    class="btn-toggle-arrow"
                    aria-controls="toggleOptions"
                    aria-expanded="false"
                    onclick="toggleDetail()"
                  >
                    상세 보기
                  </button>
                </div>
                <div class="flex">
                  <button type="button" class="btn btn-ico btn-reset">초기화</button>
                  <button type="button" class="btn btn-ico btn-search">검색</button>
                </div>
              </div>
            </section>
            <!-- //2025-05 신규 수정/추가 -->

            <section class="row">
              <table class="dataTable row-border hover nowrap fixed" id="pubTable1">
                <thead>
                  <tr>
                    <th>기준일</th>
                    <th>가입 번호</th>
                    <th>대리점 코드</th>
                    <th>대리점명</th>
                    <th>서비스</th>
                    <th>발생 지표</th>
                    <th>고객 유형</th>
                    <th>Care 활동</th>
                    <th>중복 발생</th>
                    <th>결과 등록</th>
                    <th>기한 초과</th>
                    <th>등록 기한</th>
                    <th>방문 여부</th>
                    <th>방문 일자</th>
                    <th>방문 결과</th>
                    <th>구간 품질 측정</th>
                    <th>미 방문 사유</th>
                    <th>Care 상세 사항</th>
                    <th>미처리 사유</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2024-06-24</td>
                    <td>1234567890</td>
                    <td>001</td>
                    <td>대리점 A</td>
                    <td>스마트기가_1G</td>
                    <td>서비스 품질 불만</td>
                    <td>일반 고객</td>
                    <td>방문 상담</td>
                    <td>Y</td>
                    <td>N</td>
                    <td>N</td>
                    <td>2024-07-01</td>
                    <td>N</td>
                    <td></td>
                    <td></td>
                    <td>N/A</td>
                    <td></td>
                    <td>상담 완료, 추가 조치 필요 없음</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </section>

            <!-- 엑셀 다운로드 사유 모달 -->
            <div
              class="modal fade"
              id="excelModal"
              tabindex="-1"
              aria-labelledby="excelModalLabel"
              aria-hidden="true"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-closed" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body uiscroll">
                    <h1 class="modal-title" id="excelModalLabel">엑셀 다운로드</h1>
                    <section class="row">
                      <p class="excel-text">‘CARE 상세 현황’을 엑셀파일로 저장합니다.<br />다운로드 사유를 선택하세요.</p>
                      <div class="excel-select">
                        <select class="uiscroll" aria-label="엑셀 다운로드 선택" id="excelDown" name="excelDown">
                          <option value="">다운로드 사유를 선택해 주세요</option>
                          <option th:each="arraysts : ${excelDown}" th:value="${arraysts.codeName}">
                            <th:block th:text="${arraysts.codeName}"></th:block>
                          </option>
                        </select>
                      </div>
                      <ul class="list-bullet">
                        <li>다운로드된 파일은 3개월 이내 폐기되어야 합니다.</li>
                        <li>xlsb로 저장 시 보안 정책에 위배됩니다. 반드시 xlsx로 저장하여 보안사항 준수 바랍니다.</li>
                      </ul>
                    </section>
                  </div>
                  <div class="modal-footer">
                    <div class="d-grid">
                      <button type="button" class="btn btn-dark" id="excelButton" disabled>다운로드</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // 엑셀 다운로드 사유 모달 -->
          </div>
        </div>
        <!-- // contents -->
      </div>
      <!-- // container -->
    </div>
  </body>
  <script src="/assets/js/plugins/jquery-3.7.1.min.js"></script>
  <script src="/assets/js/plugins/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/plugins/moment-with-locales.min.js"></script>
  <script src="/assets/js/plugins/tempusdominus-bootstrap-4.js"></script>
  <script src="/assets/js/plugins/swiper-bundle.min.js"></script>
  <script src="/assets/js/plugins/dataTables.min.js"></script>
  <script src="/assets/js/plugins/jstree.min.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/js/common2.js"></script>
  <script src="/js/chart.umd.js"></script>
  <script defer src="/pub/pubTest.js"></script>
  <script>
    window.addEventListener("load", function () {
      var allElements = document.getElementsByTagName("*");
      Array.prototype.forEach.call(allElements, function (el) {
        var includePath = el.dataset.includePath;
        if (includePath) {
          var HTTP = new XMLHttpRequest();
          HTTP.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              el.outerHTML = this.responseText;
            }
          };
          HTTP.open("GET", includePath, true);
          HTTP.send();
        }
      });

      // dataTable 테스트
      $("#pubTable1").DataTable({
        ...dataTableOptions,
        buttons: [
          {
            extend: "",
            text: "다운로드",
            className: "btn btn-ico btn-download",
            attr: {
              id: "downloadBtn",
              "data-bs-toggle": "modal",
              "data-bs-target": "#excelModal",
            },
          },
        ],
        initComplete: function () {
          // dt-button 버튼 초기화
          const dtButtons = document.querySelectorAll(".dt-container .dt-buttons .btn");
          dtButtons.forEach((button) => {
            button.classList.remove("dt-button");
          });

          // 셀렉트 로딩
          UI.isSelectCustom();
        },
      });

      // 기타...
      const dtTables = document.querySelectorAll(".dataTable, .dt-scroll-head, .dt-scroll-headInner, .dt-scroll-body");
      dtTables.forEach((el) => {
        el.style.width = "100%";
      });
      document.getElementById("divisionConfirmBtn").addEventListener("click", function () {
        const collapse = bootstrap.Collapse.getOrCreateInstance(document.getElementById("collapseDiv"));
        collapse.hide();
      });
      // e : 퍼블 화면 테스트 스크립트
    });

    // s : 퍼블 화면 테스트 스크립트
    // 상세보기 토글
    function toggleDetail() {
      const btn = document.getElementById("toggleDetailBtn");
      const addOptions = document.getElementById("toggleOptions");
      const isHidden = addOptions?.style.display === "none";
      addOptions.style.display = isHidden ? "" : "none";
      addOptions.setAttribute("aria-hidden", isHidden ? "false" : "true");
      btn.textContent = isHidden ? "간단히 보기" : "상세 보기";
      btn.setAttribute("aria-expanded", isHidden ? "true" : "false");
    }
  </script>
</html>
